body {
  background-color: #edf1f5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.original-price-home {
  text-decoration: line-through;
  text-wrap: nowrap;
}

.discount-percentage-home {
  position: relative;
  top: -3px;
  left: 1%;
  border-radius: 50%;
  color: red;
  padding: 1px;
  font-size: 0.75rem;
}